echo '========================================================'
echo ' github user: tunupgp  repo: tunupgp.github.io'
echo 'install all gems in gemfile: bundle install'
echo '========================================================'
echo 'bundle exec jekyll serve --livereload'
echo '========================================================'
echo '#PUBLISH'
echo 'bundle exec jekyll build'
echo 'git add .'
echo 'git commit -m "Updating site"'
echo 'git push -u origin main --force'
echo '========================================================'
