<header class="site-header" role="banner">
  <div class="wrapper">
    <div class="tunnelsup-header">
      <a class="site-title" rel="author" href="/">
        <span id="title">
          <span id="title_tunnel">Tunnels</span><span id="title_up">UP</span><span id="title_com">.com</span>
        </span>
      </a>
    </div>
  </div>
</header>

<nav class="tunnelsup-nav">
  <div class="wrapper">
    <ul class="nav-menu">
      <li><a href="/articles/">Articles</a></li>
      <li><a href="/tools/">Tools</a></li>
      <li><a href="/cheatsheets/">Cheat Sheets</a></li>
      <li><a href="/videos/">Videos</a></li>
    </ul>
  </div>
</nav>